body {
    background-color: rgb(1, 73, 11);
    color: white;
    font-family: "Space Mono", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(3, 138, 21);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Space Mono", system-ui;
}

button:hover {
    background-color: rgb(1, 100, 15); /* Um tom mais escuro de verde para o hover */
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}
